.main-area{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}
.inputgroup1,.inputgroup2,.inputgroup3,.inputgroup4,.inputgroup5{
    margin-top: 20px;
    width: 19%;
    height: 100px;
    display: inline-block;
    margin-left: 5px;
    
}
.main-area input,select{
    height: 35px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.buttons{
    width: 80%;
    height: auto;
    display: inline-block;
    margin-bottom: 4px;
}
.buttons button{
    padding:12px 47px;
    margin: 0px 3px;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.addmore,.confirm{
    background-color: rgb(6, 175, 6);
}
.printreciept{
    background-color: blue;
}
.remove{
    background-color: rgb(184, 4, 4);
}
.addsales_tab table{
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;  
}
.addsales_tab{
overflow-y: scroll;
width: 100%;
height: 335px;
}
.addsales_tab table td ,th{
    border: 1px solid gray;
    padding: 15px;
}
.addsales_tab th{
    background-color: rgb(63, 63, 245);
    color: #fff;
    position: sticky;
    top: 0px;
    left: 0px;
}
.addsales_tab tr:nth-child(odd){
    background-color: gainsboro;
}
footer{
    clear: both;
}

