.view{
    margin-left: 25px;
    height: 520px;
    width: 95%;
    margin-top: 10px;
    border: 1px groove gainsboro;
    box-shadow: -1px -2px 3px gray;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 5px;
}
.viewheader{
    height: 30px;
    width: auto;
    background-image: linear-gradient(to bottom,silver,rgba(243, 243, 243, 0.822),silver);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    color: rgb(75, 75, 245);
}
.viewform{
    padding: 15px;
    height: auto;
    width: 40%;
    position: absolute;
    left: 38%;
}
.inputgroup1,.inputgroup2,.inputgroup3{
    width: 30%;
    height: auto;
    float: left;
    font-family:Microsoft Himalaya; /*font familly is not working */
    font-size: 17px;
}
.inputgroup2,.inputgroup3{
    margin-left:5%;
}
.viewform input,.viewformselect {
    background-color: royalblue;
    display: block;
    height: 37px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
}
#viewtextarea{
   background-color:royalblue;
   border-radius:5px ;
   width:100%;
   height:60px ;
   margin-top: 10px;
   padding: 5px;
   resize: none;
}
.viewsavebtn, .viewclearbtn{
    height: 40px;
    width: 70px;
    border-radius: 5px;
    margin-top: 17px;
    border: none;
}
.viewclearbtn{
    background-color: blue;
    color: #fff;
    margin-left: 37%;
}
.viewclearbtn:hover{
    background-color: #fff;
    color: blue;
    border: 2px solid blue;
    box-shadow: 2px 3px 1px gray;
}
.viewsavebtn{
    background-color: red;
    color: #fff;
    margin-left: 5px;
}
.viewsavebtn:hover{
    background-color: #fff;
    color: red;
    border: 2px solid red;
    box-shadow: 2px 3px 1px gray;
}
}