.view{
    height: 345px;
}
#status{
    background-color:royalblue;
    display: block;
    height: 37px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
}
.inputgroup1,.inputgroup2{
    width: 47%;
    margin-top: 10px;
}
.inputgroup3{
    margin-top: 18px;
    width: 50%;
    margin-left:25%;
}