#description{
    background-color: royalblue;
    height: 50px;
    width: 55%;
    padding: 5px;
    float: right;
    margin-right: 37px;
    margin-top: 10px;
    border-radius: 5px;
}
#viewformcategory{
margin: 10px 21px;
}
.viewclearbtn,.viewsavebtn{
    margin-top: 40px;
}
.viewform label{
    font-size: 16px;
}
.descriptiondiv{
float: left;
width: 66%;
margin-left: 20px;
}
.descriptiondiv label{
    margin-left: 10px;
}
#description{
width: 98%;
margin-right: 0px;
margin-top: 0px;
height: 60px;
}
