.view{
    height: 440px;
}
.inputgroup1,.inputgroup2{
    width: 45%;
}
.inputgroup3{
    width: 70%;
    margin-left: 70px;
}
#description{
    width: 100%;
    background-color: royalblue;
    border-radius: 5px;
    height: 70px;

}
