*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
}
header{
    height: 65px;
    width: 100%;
    background-color: rgb(107, 107, 248);
    padding: 10px;
    color: #fff;
    font-size:18px;
    margin-bottom: 30px;
    }
    header p{
        font-family: Algerian;
        position: absolute;
        font-size:25px;
        margin-left: 10px;
    }
   header .headerbtn{
        background-color: rgb(184, 4, 4);
        border: none;
        border-radius: 5px;
        color: #fff;
        padding:10px;
        float:right;
        margin: auto 25px;
        display: inline-block;
        box-shadow: 2px 2px 5px gray;
    }
    .headerbtn:hover{
        background-color:whitesmoke;
        color: rgb(184, 4, 4);
    }
    .dashboard{
        margin-top: 10px;
        width: 16%;
        float: left;
        height: auto;
        border: 1px solid gray;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 3px 2px 5px gray;
        position:fixed ;
    }
    ul li{
        margin-top: 1px;
        list-style: none;
        /* padding: 13px; --> dont use padding here use it on 'a' tag */
        border-bottom: 1px solid gray;

    }
    ul li a{
        text-decoration: none;
        color: rgb(58, 58, 247);
        display: block;
        padding: 13px;
        transition: .6s;
    }
    .dashboard a:hover{
        background-color:rgb(35, 35, 248) ;
        color: #fff;
        padding-left: 23px;
    }
    .dashboard a:focus{ 
        background-color: blue;
        color: #fff;
     } /*visted is not working here */
     .main{
        float: right;
        width: 83%;
        height: auto;
     }
     hr{
        margin:13px;
     }
     .main_para{
        font-size: 30px;
        text-align: center;
        color: rgb(58, 58, 247);
     }
     .main_tab tr td a{
        display: inline-block;
        border: 1px solid gainsboro;
        padding:20px 28px;
        margin-top: 15px;
        color: #fff;
        border-radius: 5px; 
        text-decoration: none;
        background-color: royalblue;
     }
    .clock{
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(0, 0, 255, 0.863);
    font-weight: bold;
    margin-left:560px;
    margin-top: 120px;
    transform: translate(-50%,-50%);
    font-size: 70px;
    box-shadow:0 1px 4px royalblue , 2px 5px 19px  4px royalblue;
    border-radius: 8px;
    height: 150px;
    text-align: center;
    }
    .clockmain{
        display: inline-block;
        margin-top: 30px;
    }