.inputgroup1{
    display: block;
    width: 70%;
    margin-left:28px
}
.viewformselect{
    background-color:whitesmoke;
    color: blue;
    height: 25px;
    width: 50%;
    border: 1px solid royalblue;
}
.inputgroup2,.inputgroup3{
    width: 45%;
}
.viewsavebtn{
    width: 30%;
    margin-left: 190px;
    background-color: rgb(180, 7, 7);
    font-size: medium;
}
.view{
    height: 400px;
}